body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  color: #5585b5;
  font-size: 30px;
  font-weight: 800;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #eaf6f6;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #38598b;
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

#fahrenheit {
  text-decoration: none;
}
